:host {
    --ms-primary-color: hsl(0, 0%, 67%);
    --ms-primary-color-disabled: hsl(0, 5%, 72%);
    --ms-background: hsl(0, 0%, 100%);
    --ms-option-hover: hsl(0, 0%, 92%);
    --ms-text-color: hsl(0, 0%, 0%);
    --ms-text-color-disabled: hsl(0, 5%, 72%);
    --ms-main-padding: .5rem;
    --ms-border-radius: 5px;
    --ms-button-background: hsl(0, 0%, 94%);
    --ms-button-hover: hsl(0, 0%, 87%);
    --ms-button-active: hsl(0, 0%, 97%);
    --ms-accent-color: hsl(0, 0%, 0%);
    --ms-search-background: hsl(0, 0%, 100%);
    --ms-search-text-color: var(--ms-text-color);
    --ms-search-placeholder-color: hsl(0, 0%, 50%);
    --ms-max-height: 60vh;
    display: grid;
    color: var(--ms-text-color);
}
:host(.darkmode) {
    --ms-primary-color: hsl(0, 0%, 67%);
    --ms-primary-color-disabled: hsl(0, 5%, 42%);
    --ms-background: hsl(0, 0%, 7%);
    --ms-option-hover: hsl(0, 0%, 15%);
    --ms-text-color: hsl(0, 0%, 84%);
    --ms-text-color-disabled: hsl(0, 5%, 52%);
    --ms-button-background: hsl(0, 0%, 24%);
    --ms-button-hover: hsl(0, 0%, 32%);
    --ms-button-active: hsl(0, 0%, 39%);
    --ms-accent-color: hsl(0, 0%, 100%);
    --ms-search-background: hsl(0, 0%, 12%);
    --ms-search-text-color: var(--ms-text-color);
}
:host > details {
    position: relative;
    padding: var(--ms-main-padding);
    border: 1px solid var(--ms-primary-color);
    border-radius: var(--ms-border-radius);
    cursor: pointer;
}
:host > details[open] {
    border-bottom: none;
    margin-bottom: 1px;
    border-radius: var(--ms-border-radius) var(--ms-border-radius) 0 0;
    z-index: 9999;
}
:host > details > summary {
    display: flex;
    align-items : center;
    border-radius: var(--ms-border-radius);
    gap: .25rem;
}
:host > details > summary > .display {
    margin-right: auto;
}
:host > details[open] .click-me {
    display: none;
}
:host > details[open] > div {
    position: absolute;
    max-height: var(--ms-max-height);
    overflow-y: auto;
    left: -1px;
    right: -1px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: var(--ms-main-padding);
    border: 1px solid var(--ms-primary-color);
    border-top: none;
    margin-top: 2px;
    border-radius: 0 0 var(--ms-border-radius) var(--ms-border-radius);
    background-color: var(--ms-background);
}
/* display */
/* https://collaboradev.com/2015/03/28/responsive-css-truncate-and-ellipsis/ */
.display {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
.display span {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}
code {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: .8em;
}
/* control panel */
.control-panel {
    display: flex;
}
/* buttons */
[data-command] {
    display: grid;
    visibility: hidden;
    background-color: var(--ms-button-background);
    border: 1px solid var(--ms-primary-color);
    user-select: none;
    color: var(--ms-text-color);
}
[data-command][disabled] {
    color:hsl(0, 0%, 72%);
}
[data-command]:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--ms-button-hover);
}
[data-command]:not([disabled]):active {
    background-color: var(--ms-button-active);
}
[data-command]:first-of-type {
    border-radius: var(--ms-border-radius) 0 0 var(--ms-border-radius);
}
[data-command]:last-of-type {
    border-radius: 0 var(--ms-border-radius) var(--ms-border-radius) 0;
}
:host > details[open] [data-command] {
    display: grid;
    visibility: visible;
    place-items: center;
}
/* filter */
.filter {
    display: flex;
}
.filter input {
    width: 100%;
    padding: .25rem;
    background-color: var(--ms-search-background);
    border-radius: var(--ms-border-radius) 0 0 var(--ms-border-radius);
    border: 1px solid var(--ms-primary-color);
    border-right: none;
    color: var(--ms-search-text-color);
}
::placeholder {
    color: var(--ms-search-placeholder-color);
}
[data-role].hide {
    display: none;
}
/* focus */
:focus-visible {
    z-index: 99999;
}
/* groups */
[data-role="group"] > summary {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: var(--ms-border-radius);
    padding: .15em;
    align-items: center;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: bold;
}
[data-role="group"] > summary:after {
    content: "\\2B";
    color: var(--ms-text-color);
    justify-self: end;
}
[data-role="group"][open] > summary:after {
    content: "\\2212";
}
[data-role="group"] > :not(summary) {
    border-left: 2px solid var(--ms-primary-color);
    margin-left: .25rem;
    padding-left: .75rem;
}
[data-role="group"] > summary > label:hover {
    text-decoration: underline;
    text-underline-offset: .25em;
}
/* options */
[data-role="option"] {
    display: grid;
    padding: .1em;
}
/* groups/options */
[data-role="group"] > summary:hover,
[data-role="option"]:hover {
    background-color: var(--ms-option-hover);
}
/* custom checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
input[type="checkbox"] + label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    border-radius: 3px;
    margin-right: .5rem;
    width: .6rem;
    height: .6rem;
    outline: 1px solid var(--ms-primary-color);
}
input[type="checkbox"]:checked + label:before {
    background-color: var(--ms-accent-color);
}
input[type="checkbox"]:indeterminate + label:before {
    background: linear-gradient(to right, var(--ms-background) 50%, var(--ms-accent-color) 50%);
}
input[type="checkbox"]:focus-visible + label:before {
    outline: 2px solid Highlight;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: 2px;
}
/* disable */
/* https://stackoverflow.com/a/63207226 */
:host([disabled]) {
    --ms-primary-color: var(--ms-primary-color-disabled);
    background-color: var(--ms-background-disabled);
    color: var(--ms-text-color-disabled);
    tab-index: -1;
    pointer-events: none;
    user-select: none;
}
/* scrollbar chrome */
/* https://stackoverflow.com/questions/66166047 */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}